{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<br>
<div class="container">
    <section class="u-clearfix u-image u-section-5" id="sec-ab55" data-image-width="1280" data-image-height="854">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-white u-text-1">Conoce Nuestros Productos</h1>
        <h5 class="u-custom-font u-font-ubuntu u-text u-text-default u-text-white u-text-2">A los mejores precios</h5>
        <a href="{% url 'store' %}" class="u-border-none u-btn u-button-style u-text-body-alt-color u-btn-1">Tienda</a>
      </div>
    </section>
</div>
    <!-- ========================= SECTION MAIN END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Ver Todo</a>
            <h3 class="section-title">Productos populares</h3>
        </header><!-- sect-heading -->

        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a href="{{ product.get_url }}" class="img-wrap"> <img src="{{product.images.url}}"> </a>
                        <figcaption class="info-wrap">
                            <a href="{{ product.get_url }}" class="title">{{product.product_name}}</a>
                            <div class="price mt-1">{{ product.price }}</div> <!-- price-wrap.// -->
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                                </span>
                            </div>
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->
    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

</body>
</html>

{% endblock %}